$font-body-roboto-cons:'Roboto Condensed', sans-serif;
$font-body-open-sans:'Open Sans', sans-serif;
$font-weight-body:400;
$font-size-body:16px;
$color-gold:#D4AF53;

// HEADER
$header-color-back:#fff;
$header-color:#000;
$header-height:70px;
// HEADER

// NAVBAR
$nav-color-back:#fff;
$nav-color:#000;
$nav-height:70px;
// NAVBAR
