@import "variables";
@import "header-bootstrap";
@import "header";
@import "navbar";

body {
	font-family:$font-body-open-sans;
	font-weight:$font-weight-body;
	font-size:$font-size-body;
	ul li {
		list-style-type: none;
	}
}

.button-style{
	background:none repeat scroll 0 0 #124994;
	border:medium none;
	border-radius:10px;
	color:#fff;
	display:inline-block;
	font-size:18px;outline:0 none;
	padding: 10px 20px;
	transition: color 0.3s, box-shadow 0.3s;
	&:hover, &:focus{
		color: #F66;
		text-decoration: none;
	}
}
.cena-block{
	padding:20px;
	text-align:center;
	background-color:#ededed;
	border-radius:9px;
}